{% extends 'portal/portal' %}
{% block appBody %}
  <section class="content-header">
    <h4>
      <i class="fa fa-th"></i>
      ASIGNAR EJECUTIVOS
    </h4>
  </section>

  <section class="content">

    <!-- Default box -->
    <div class="box" id="caja_principal">
      <div class="box-header with-border">

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body">

        <!-- Custom Tabs (Pulled to the right) -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs pull-rigth">
            <li class="active">
              <a href="#tab_2-2" data-toggle="tab">Seleccione perfil para filtrar</a>
            </li>

            <li class="pull-left header"></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1-1">

              <form name="filtra_usuario_perfil" id="filtra_usuario_perfil" action="" method="POST">
                <label>
                  <select name='select_perfil' id='select_perfil'>
                    <option selected='selected'>--</option>
                    {% set No = 1 %}
                    {% for d in cargos %}
                      <option>{{ d.descripcion }}</option>
                      {% set No = No + 1 %}
                    {% endfor %}
                  </label>
                  <input type='hidden' name='Submit' value='Consultar' id='submit'>
                </form>
                <br>
                <br>

                <div>
                  <form class="" id="form_opciones" name="form_opciones" action="" method="POST">
                    <label id="resultado" name="resultado">
                      <!-- Resultado del Jquery donde se muestra las opciones que contienen usuarios. -->
                    </label>
                    <!-- <input type="button" id="btn_revisar" title='Revisar' class="btn-success btn-md" data-toggle="modal" value="Asignar Usuarios" onclick="modal_asignar_usuarios('')"> -->
                  </form>
                </div>

                <div id="modal_asignar_usuarios" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Usuarios</h4>
                      </div>
                      <div class="modal-body"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
  {% block appScript %}
    <!-- SCRIPTS -->
    <script src="views/app/js/asignarusuarios/asignar_user.js"></script>

  {% endblock %}
